.sign-in{
    width: 400px;
    display: flex;
    flex-direction: column;

    .title{
        margin:10px 0;
    }

    .buttons{
        
        display: flex;
        //gap:1rem;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width:480px){
    .sign-in{
     width: 80%;
     }
 
     
 }